# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
Dockerfile.real_estate_agency
docker-compose.yml

#
# OS X
#
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#
# Rails
#
.env
*.example*
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
public/assets
public/system
coverage/
**.orig
/config/master.key
.rubocop.yml
/bin/*
!/bin/rails
Makefile

.bundle

.ruby-version
.ruby-gemset
.rvmrc

.ash_history
.codeclimate.yml
.editorconfig
.env.sample
.travis.yml

config.reek

*.md
TODO
