= form_with(model: person, local: true) do |form|
  - if person.errors.any?
    #error_explanation
      h2 = t('activerecord.errors.template.header', model: Person.model_name.human, count: person.errors.count)
      ul
        - person.errors.full_messages.each do |message|
          li = message

  .field
    = form.label :type
    = form.select :type, Person.types.map { |t| [t.humanize, t.camelcase] }, {}, disabled: @type != 'Person'
    - if @type != 'Person'
      = form.hidden_field :type, value: @type

  .field
    = form.label :last_name
    = form.text_field :last_name, id: :person_last_name

  .field
    = form.label :first_name
    = form.text_field :first_name, id: :person_first_name

  .field
    = form.label :middle_name
    = form.text_field :middle_name, id: :person_middle_name

  .field
    = form.label :phone_numbers
    = form.text_field :phone_numbers, id: :person_phone_numbers

  .actions
    = form.submit
