= form_with(model: estate_project, local: true) do |form|
  - if estate_project.errors.any?
    #error_explanation
      h2 = t('activerecord.errors.template.header', model: EstateProject.model_name.human, count: estate_project.errors.count)
      ul
        - estate_project.errors.full_messages.each do |message|
          li = message

  .field
    = form.label :name
    = form.text_field :name, id: :estate_project_name

  .actions
    = form.submit
