<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @estate_project.name %>
</p>

<%= link_to 'Edit', edit_estate_project_path(@estate_project) %> |
<%= link_to 'Back', estate_projects_path %>
