<h1>Editing Street in <%= @city.name %></h1>

<%= render 'form', city: @city, street: @street, action: :put %>

<%= link_to 'Show', city_street_path(@city, @street) %> |
<%= link_to 'Back', city_streets_path(@city) %>
