h1 = t('views.street.edit.title', city: @city.name)
= render 'form', city: @city, street: @street, action: :put
= link_to t('views.show'), city_street_path(@city, @street)
= link_to t('views.back'), city_streets_path(@city)
