<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @estate_material.name %>
</p>

<%= link_to 'Edit', edit_estate_material_path(@estate_material) %> |
<%= link_to 'Back', estate_materials_path %>
